<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:postgresql://89.36.214.106:5432/geo_ad</property>
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <property name="connection.username">geo_ad</property>
    <property name="connection.password">geo_ad</property>
    <mapping resource="ComarcaEntity.hbm.xml"/>
    <mapping resource="InstitutEntity.hbm.xml"/>
    <mapping resource="PoblacionsEntity.hbm.xml"/>
    <mapping class="classes.ComarcaEntity"/>
    <mapping class="classes.InstitutEntity"/>
      <mapping class="classes.PoblacioEntity"/>
      <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>